* {
  -webkit-user-select: none;
  cursor: default;
}

*::selection {
  background: transparent;
}

html, body {
  background-color: transparent;
}

.titlebar {
  background-color: rgba(51, 51, 51, 0.75) !important;
}

.app-container {
  background-image: url("../img/teambuilder-wallpaper.jpg");
  background-repeat:no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: black;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.app-container.champions {
  background-image: url("../img/champ_bg.png");
  background-color: transparent;
  width: 557px;
  height: 647px;
  border-radius: 0;
  -webkit-app-region: drag;
  position: absolute;
  border-radius: 0 0 10px 10px;
}

.champion-list-container::-webkit-scrollbar {
  width: 8px;
  padding-right: 15px;
}

.champion-list-container::-webkit-scrollbar-track {
  padding-right: 15px;
  margin-right: 10px;
}

.champion-list-container::-webkit-scrollbar-thumb {
  background-color: #213D46;
  border: 1px solid black;
  border-radius: 3px;
}

.champion-list-container {
  -webkit-app-region: no-drag !important;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 45px;
  padding: 15px 0;
  padding-left: 10px;
  width: 527px;
  height: 510px;
  background-color: #0D1C24;
  overflow-x: hidden;
  overflow-y: scroll;
}

.champion-list-container .champ-item-container {
  float: left;
  margin: 0 0;
  width: 100px;
  padding-bottom: 10px;
  overflow-x: visible;
}

.champion-list-container .champ-item-container .champ-image {
  background-position: center center;
  background-size: cover;
  width: 64px;
  height: 64px;
  border: 3px solid #000;
  border-image: url("../img/champ_border.png");
  border-image-slice: 2;
  border-image-repeat: stretch;
  margin-left: 18px;
  background-repeat: no-repeat;
}

.champion-list-container .champ-item-container:hover .champ-image {
  border-image: url("../img/champ_border_hover.png");
  border-image-slice: 5;
}

.champion-list-container .champ-item-container.selected .champ-image {
  border-image: url("../img/champ_border_selected.png");
  border-image-slice: 3;
}

.champion-list-container .champ-item-container .champ-name {
  color: #2e98a8;
  text-align: center;
  font-size: 13px;
}

.champions .buttons-container {
  text-align: center;
  margin: 20px auto;
  width: 250px;
  -webkit-app-region: no-drag;
}

.group-selector {
  position: absolute;
  top: 17px;
  right: 45px;
  -webkit-app-region: no-drag;
}

.group-selector .btn-tiny {
  padding: .1rem .5rem;
  font-size: .82rem;
  line-height: 1.25;
  border-radius: .2rem;
}

.titlebar-container {
  box-sizing: content-box;
}

.titlebar {
  border-radius: 10px 10px 0 0;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.champ-frame, .offline-frame, .loading-frame {
  display: none;
}

.build-container {
  width: 90%;
}

.build {
  color: white;
  font-size: 45px;
  padding: 25px;
  background-color: rgba(10,10,10,0.8);
  border-radius: 15px;
}

.champ-info, .items-info {
  float: left;
}

.items-info {
  margin-left: 25px;
  width: 80%
}

.build-name {
  line-height: 45px;
}

.champ-icon {
  width: 128px;
  height: 128px;
  background-image: url("http://ddragon.leagueoflegends.com/cdn/6.4.2/img/profileicon/588.png");
  background-size: cover;
}

.masteries {
  font-size: 28px;
  line-height: 15px;
  text-align: center;
  padding-top: 3px;
  margin-bottom: -10px;
}

.spells div {
  width: 60px;
  height: 60px;
  float: left;
  margin: 10px 0;
  background-size: cover;
}

.spells div:first-child {
  margin-right: 8px !important;
}

.skills div {
  float: left;
}

.skill {
  width: 48px;
  height: 48px;
  margin: 10px 15px;
  background-size: cover;
}

.skill .inner {
  background-color: rgba(0, 0, 0, 0.8);
  width: auto;
  height: auto;
  margin-top: -1px;
  margin-left: -1px;
  border: 2px solid black;
  font-size: 15px;
  line-height: 15px;
  padding: 10px;
  border-bottom-right-radius: 5px;
}

.skill-spacer {
    margin: 0;
    width: auto;
}

.skill-spacer:last-child {
  display: none;
}

.gold {
  color: gold;
  font-size: 25px;
  line-height: 20px;
  margin: 0;
  margin-left: 15px;
  margin-top: 10px;
}

.items div {
  width: 64px;
  height: 64px;
  float: left;
  margin: 10px 10px;
  background-size: cover;
}

.buttons {
  text-align: center;
  margin-top: 10px;
  background-color: rgba(10,10,10,0.8);
  border-radius: 15px;
  padding: 20px 0;
}

.champ-skin-name {
  color: white;
  text-align: right;
  position: absolute;
  font-size: 20px;
  right: 20px;
  bottom: 20px;
  background-color: rgba(10,10,10,0.8);
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.loading-frame, .offline-frame, .updating-frame {
  position: absolute;
  width: 90%;
  text-align: center;
  color: white;
  background-color: rgba(10,10,10,0.8);
  border-radius: 15px;
  padding: 20px 0;
}

.loading-frame progress, .updating-frame progress {
  width: 90%;
  margin: 0 auto;
}

.loading-frame progress[value]::-webkit-progress-value, .updating-frame progress[value]::-webkit-progress-value {
  transition: width .3s ease-in-out;
}
