html, body {
  background-image: url("../img/teambuilder-wallpaper.jpg");
  background-repeat:no-repeat;
  background-position: center center;
  background-size: cover;
}

.titlebar-container {
  box-sizing: content-box;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.champ-frame, .start-frame {
  display: none;
}

.champ-icon {
  max-width: 120px;
  max-height: 120px;
  border: gold 2px solid;
}

.loading-frame {
  position: absolute;
  width: 90%;
  text-align: center;
  color: white;
  background-color: rgba(10,10,10,0.8);
  border-radius: 15px;
  padding: 20px 0;
}

.loading-frame progress {
  width: 90%;
  margin: 0 auto;
}

.loading-frame progress[value]::-webkit-progress-value {
  transition: width 1.25s ease-in-out;
}
